<div class="container mt-5">
  <div class="row justify-content-center align-items-center">
    <div class="col mx-md-5">
      <div class="server-error invalid-feedback" *ngIf="serverErrorResponse">
        {{serverErrorResponse}}
      </div>
      <form [formGroup]="signinForm" (ngSubmit)="onSubmit($event)">
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email"
            formControlName="email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="error-messages">
          <ng-container *ngFor="let error of error_messages.email">
            <div class="error-message invalid-feedback"
              *ngIf="(signinForm.get('email').dirty || signinForm.get('email').touched) && signinForm.get('email').hasError(error.type)">
              {{error.message}}
            </div>
          </ng-container>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Password" formControlName="password">
        </div>
        <div class="error-messages">
          <ng-container *ngFor="let error of error_messages.password">
            <div class="error-message invalid-feedback"
              *ngIf="(signinForm.get('password').dirty || signinForm.get('password').touched) && signinForm.get('password').hasError(error.type)">
              {{error.message}}
            </div>
          </ng-container>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!signinForm.valid">Submit</button>
      </form>
      <div class="reset-check">
        <a [routerLink]="['/resetpassword']">Reset Password</a>
      </div>
    </div>
  </div>
</div>