<div class="container mt-5">
  <div class="row justify-content-center align-items-center">
    <div class="col mx-md-5">
      <div class="server-error invalid-feedback" *ngIf="serverErrorResponse">
        {{serverErrorResponse}}
      </div>
      <form [formGroup]="resetCheckForm" (ngSubmit)="onResetCheckSubmit($event)">
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email"
            formControlName="email" [readonly]="isValidUser">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="error-messages">
          <ng-container *ngFor="let error of error_messages.email">
            <div class="error-message invalid-feedback"
              *ngIf="(resetCheckForm.get('email').dirty || resetCheckForm.get('email').touched) && resetCheckForm.get('email').hasError(error.type)">
              {{error.message}}
            </div>
          </ng-container>
        </div>
        <div class="form-group">
          <label for="phone">Phone</label>
          <input type="text" class="form-control" id="phone" placeholder="Phone" formControlName="phone" [readonly]="isValidUser">
        </div>
        <div class="error-messages">
          <ng-container *ngFor="let error of error_messages.phone">
            <div class="error-message invalid-feedback"
              *ngIf="(resetCheckForm.get('phone').dirty || resetCheckForm.get('phone').touched) && resetCheckForm.get('phone').hasError(error.type)">
              {{error.message}}
            </div>
          </ng-container>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!resetCheckForm.valid" [hidden]="isValidUser">Submit</button>
      </form>

      <div class="reset-password" *ngIf="isValidUser">
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password" [(ngModel)]="resetPassword">
          </div>
          <div class="error-messages">
            <ng-container *ngIf="resetPasswordMsg">
              <div class="error-message invalid-feedback">
                {{resetPasswordMsg}}
              </div>
            </ng-container>
          </div>
          <button type="submit" class="btn btn-primary" (click)="onResetPasswordSubmit($event)">Submit</button>
      </div>
    </div>
  </div>
</div>